{% extends 'feed/postfeed.html' %}

{% block title %}
<title>{{data.title}}</title>
{% endblock title %}


{% block content %}
<div class="row">
    <hr><hr>
    <div class="col-sm-1"></div>
    <div class="card col-sm-10">
        <div class="container-fluid">
            <div class="col-sm-2 text-center">
                  <img src="{{profile_data.profile_photo.url}}" default:"/static/images/default.jpg" class="img-circle" height="65" width="65" alt="Avatar">
            </div>

            <div class="col-sm-10">
                <a href={% url "feed:viewpost" request.user data.id %}>
                <h2>{{ data.title}}</h2>
                </a>
                <h5><span class="glyphicon glyphicon-time"></span> Post by {{ data.author}}, {{ data.created_date}}.</h5>
                {% for location in data.locations.all %}
                <h5><span class="label label-info">{{ location}}</span></h5>
                {% endfor %}
                <br><br>
                <p>{{ data.post_content}}</p>
                <br><br>                
            </div>
        </div>
    </div>
</div>
{% endblock %}